

/*habitaciones*/

.habitaciones{
    background: linear-gradient(rgb(255, 252, 252), rgba(255, 252, 252)), center/cover no-repeat;
    color: #fff;
    padding: 150px 60px;
}

.titulo_Habitaciones{
    color: #6c6a6a;
    text-decoration: none;
    font-size: 30px;
    font-family: Rubik;
    text-align:start;
    position:relative;
    top:20px;
    left:50px;
}

.card{
    position:start;
    width:1000px;
    height:320px;
    top:20px;
}

.card-body{
    width:1000px;
    height:320px;
    text-decoration: none;
    background-color: rgb(255, 252, 252),;
}

.card-img {
    max-width: 350px;
    position: start;
    display: grid;
}

.card-title{
    color:#292828;
    position: relative;
    font-family: Rubik;
    text-align: end;
    top:-100px;

}

.card-text{
    color:#6c6a6a;
    position: relative;
    font-family: Rubik;
    text-align: end;
    top:-100px;;

}

.card-caract{
    color:#6c6a6a;
    position: relative;
    font-family: Rubik;
    text-align: start;
    top: -110px;

}

