{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacific Reef</title>
    <link rel="Stylesheet" href="{% static 'css/base.css' %}">

    <!-- BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!--fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik&display=swap" rel="stylesheet">
    <!--font-awesome-->
    <link rel="Stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <!--barra navegación con logo-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid" >
      <div class="navbar-brand" href="{% url 'home' %}">
        <img src="" alt="logo" class="logo">
        <a class="titulo" href="{% url 'home' %}" alt="Hotel Pacific Reef">
          Hotel Pacific Reef
        </a>
      </div>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!--<form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" color=blue >
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>-->

        <div class="texto-nav navbar-nav ms-auto">
          <ul>
            <a class="texto-nav " href="">|</a>
          </ul>
          <ul>
            <a class="texto-nav " href="{% url 'home' %}">Home</a>
          </ul>
          <ul>
            <a class="texto-nav " href="{% url 'habitaciones' %}">Habitaciones</a>
          </ul>
          <ul>
            <a class="texto-nav " href="{% url 'reserva' %}">Reserva</a>
          </ul>
          <ul>
          </ul>
          <ul>
          </ul>
          <ul>
            <a class="icono-persona" href=""><i class="fa-regular fa-user" style="color: #e5ebf5;"></i></a>
          </ul>
        </div>

      </div>

    </div>
  </nav>


  <!--fin barra navegación con logo-->

  {% block content %}

  {% endblock %}


  <footer>
    <div class="footer">
        <p>&copy; 2023 Mi Sitio Web</p>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Acerca de</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </div>
  </footer>

   <!--JAVASCRIPT BOOTSTRAP-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>    
</body>
</html>