{% extends 'app/base.html' %}
{% load static %}
{% block content %}

  <!--fin barra navegación con logo-->
  <link rel="Stylesheet" href="{% static 'css/contacto.css' %}">
  <div class="Contacto">
    <div Class="titulo_Contacto mb-5">
      Contacto
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="card mb-5">
                <div class="card-body">
                <a>Número telefonico: +562458745xx</a>
                <a>Correo electronico: hotelpacificreef@hotel.cl</a>
                <a>Dirección: La legua 123</a>
                </div>
              </div>   
            </div>  
        </div>  
    </div>

{% endblock %}