{% extends 'app/base.html' %}
{% load static %}
{% block content %}

  <!--fin barra navegación con logo-->
  <link rel="Stylesheet" href="{% static 'css/habitaciones.css' %}">
  <div class="Habitaciones">
    <div Class="titulo_Habitaciones mb-5">
      Habitaciones
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="card mb-5">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/camadoble.jpg'%}"  alt="...">
                <h5 class="card-title">Habitacion standard con 1 cama doble</h5>
                <p class="card-text">With supporting text below as <br>a natural lead-in to additional <br>content.</p>
                <p class="card-caract">aaaaaa.</p>
              </div>
            </div>   
          </div>

          <div class="col-md-12">
            <div class="card mb-5">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/stand2camas.jpg'%}"  alt="...">
                <h5 class="card-title">Habitacion standard con 2 camas individuales</h5>
                <p class="card-text">With supporting text below as <br>a natural lead-in to additional <br>content.</p>
                <p class="card-caract">aaaaaa.</p>
              </div>
            </div>  
          </div>

          <div class="col-md-12">
            <div class="card mb-5">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/camaniño.jpg'%}"  alt="...">
                <h5 class="card-title">Habitacion standard con 1 cama doble y una cama niños</h5>
                <p class="card-text">With supporting text below as <br>a natural lead-in to additional <br>content.</p>
                <p class="card-caract">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>  
          </div>

          <div class="col-md-12">
            <div class="card mb-5">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/aaa.png'%}"  alt="...">
                <h5 class="card-title">Habitacion vip</h5>
                <p class="card-text">With supporting text below as <br>a natural lead-in to additional <br>content.</p>
                <p class="card-caract">aaaaaa.</p>
              </div>
            </div>  
          </div>

      </div>
    </div>    
  </div>

{% endblock %}