{% extends 'app/base.html' %}
{% load static %}
{% block content %}

  <!--fin barra navegación con logo-->
  <link rel="Stylesheet" href="{% static 'css/habitaciones.css' %}">
  <div class="Habitaciones">
    <div Class="titulo_Habitaciones mb-5 text-center">
      <strong>
        Habitaciones Disponibles
      </strong>
    </div>

      {% load humanize %}
      {% for x in habitaciones %}
  
        {% if x.nombreEstado.nombreEstado == "Disponible" %}
  
          <!-- Post Entry -->
              <div class="row pb-3">
                  <!-- Image -->
                  <div class="col-12 col-md-6 offset-md-3  ">
                    <img class="card-img float-start " src="{%static 'img/camadoble.jpg'%}"  alt="...">
                    <div class="text-light text-end bg-dark bg-opacity-75 pt-3 p-5">
                      <p>
                        <h1>{{x.tipoHabitacion}} </h1> <br>
                        Capacidad: {{x.capacidadHabitacion}} <br>
                        <br>
                        Precio: ${{x.precioHabitacion}} Pesos por noche.
                        <br>
                        
                        <br>
                        {{x.descripcionHabitacion}}
                    </p>
                    <a href="{% url 'reserva' %}" class="btn btn-success">Reservar</a>
                          
                    </div>
                    
                  </div>
                </div>
  
                  
              
          {% endif %}    
      {% endfor %}


{% endblock %}