{% extends 'app/base.html' %}
{% load static %}
{% block content %}

  <link rel="Stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik&display=swap" rel="stylesheet">

  <!--Carrusel-->

  <div class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <a href="">
        <div class="carousel-item active" data-bs-interval="10000" > 
          <img  src="{%static 'img/comedor.jpg'%}"  class="d-block w-100" alt="" height="500px">   
        </div>
        </a>

        <a href="">
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{%static 'img/habitacion.jpeg'%}"  class="d-block w-100" alt="..." height="500px">
        </div>
        </a>
        <a href="">
        <div class="carousel-item">
          <img src="{%static 'img/lobby.jpg'%}"  class="d-block w-100" alt="..." height="500px" >
        </div>
        </a>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Fin Carrusel-->

  <!-- Formulario-->

  <div class="book">
    <form class="book-form ms-center">
        <div class="form-item">
            <label for="checkin-date">Fecha de arribo: </label>
            <input type="date" id="checkin-date">
        </div>
        <div class="form-item">
            <label for="checkout-date">Fecha de partida:</label>
            <input type="date" id="checkout-date">
        </div>
 
        <div class="form-item">
          <a href="{% url 'habitacionDisponible' %}">
            <input type="submit" class="btn" value="Buscar" >
          </a>
            
        </div>
    </form>
  </div>


  
  <!-- Fin Formulario-->

  <!-- Servicios-->
  <div class="Servicios">
    <div Class="titulo_serv">
      Servicios
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/wifi.png'%}"  alt="...">
                <h5 class="card-title">Wi-fi</h5>
                <p class="card-text">Coneccion a internet libre disponible para todos los residentes del hotel.</p>
              </div>
            </div>   
          </div>

          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/auto.png'%}"  alt="..." max-height="100px" ; max-width="200px";>
                <h5 class="card-title">Estacionamiento</h5>
                <p class="card-text">Contamos con servicio de estacionamiento destinados a los residentes de cada habitacion</p>
                <p class="card-text">1 estacionamiento por habitacion</p>
              </div>
            </div>  
          </div>

          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/comida.png'%}"  alt="...">
                <h5 class="card-title">Buffet</h5>
                <p class="card-text">Ofrecemos un servicio de buffet incluido en el coste de la estadia.</p>
              </div>
            </div>  
          </div>

          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-body">
                <img class="card-img" src="{%static 'img/nadador.png'%}"  alt="...">
                <h5 class="card-title">Piscina</h5>
                <p class="card-text">Acceso libre a la piscina del hotel para disfrute familiar.</p>
              </div>
            </div>  
          </div>

      </div>
    </div>    
  </div>



{% endblock %}
 